.vscode/*
output/*
**/__pycache__/*
tests/__pycache__/*
utils/__pycache__/*
utils/datasets/__pycache__/*
*.pyc
*.png
wandb/*
utils/__pycache__/metrics.cpython-310.pyc
utils/__pycache__/utils.cpython-310.pyc
utils/datasets/__pycache__/dataset_drive.cpython-310.pyc
utils/datasets/__pycache__/dataset_isic.cpython-310.pyc
utils/datasets/__pycache__/dataset_polyp.cpython-310.pyc
utils/datasets/__pycache__/dataset.cpython-310.pyc
tests/__pycache__/test_dataset.cpython-310.pyc
tests/__pycache__/test_metrics.cpython-310.pyc
tests/test_results.csv
tests/__pycache__/test_dataset.cpython-310.pyc
tests/__pycache__/test_metrics.cpython-310.pyc
utils/__pycache__/metrics.cpython-310.pyc
utils/__pycache__/utils.cpython-310.pyc
utils/datasets/__pycache__/dataset_drive.cpython-310.pyc
utils/datasets/__pycache__/dataset_isic.cpython-310.pyc
utils/datasets/__pycache__/dataset_polyp.cpython-310.pyc
utils/datasets/__pycache__/dataset.cpython-310.pyc
models/unet/__pycache__/unet.cpython-310.pyc
tests/__pycache__/test_dataset.cpython-310.pyc
tests/__pycache__/test_metrics.cpython-310.pyc
utils/__pycache__/metrics.cpython-310.pyc
utils/__pycache__/utils.cpython-310.pyc
utils/__pycache__/visualization.cpython-310.pyc
utils/datasets/__pycache__/dataset_drive.cpython-310.pyc
utils/datasets/__pycache__/dataset_isic.cpython-310.pyc
utils/datasets/__pycache__/dataset_polyp.cpython-310.pyc
utils/datasets/__pycache__/dataset.cpython-310.pyc
/.vs
/tests
